<% 
	if @content_type == "page"
		data_sortable_link = update_positions_admin_page_images_url(@resource)
		new_path = new_admin_page_image_url(@resource)
	else
		data_sortable_link = update_positions_admin_page_content_images_url(@resource.page, @resource)
		new_path = new_admin_page_content_image_url(@resource.page, @resource)
	end
	
	def resource_image_path(image)
		@content_type == "page" ? admin_page_image_url(@resource, image) : admin_page_content_image_url(@resource.page, @resource, image)
	end

	def edit_resource_image_path(image)
		@content_type == "page" ? edit_admin_page_image_url(@resource, image) : edit_admin_page_content_image_url(@resource.page, @resource, image)
	end

 %>

<%= render :partial => 'spree/admin/shared/page_tabs', :locals => {:current => @content_type == "page" ? "Images" : "ContentImages"} %>

<p>
	Images attached to <%= @content_type %> "<%= @resource.title %>"
</p>

<table class="index sortable" data-sortable-link="<%= data_sortable_link -%>">
  <thead>
    <tr>
      <th><%= t("thumbnail") %></th>
      <th><%= t("alt_text") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @resource.images.each do |image| %>
      <tr id="<%= spree_dom_id(image) %>">
        <td><span class="handle">&nbsp;</span>&nbsp; <%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:large)) %></td>
        <td><%= image.alt %></td>
        <td class="actions">
          <%= link_to_with_icon('edit', t("edit"), edit_resource_image_path(image)) %>
          &nbsp;
          <%= link_to_delete image, {:url => resource_image_path(image) }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="images"></div>
<br/>
<p>
    <%= link_to icon('add') + ' ' + t("new_image"), new_path, :id => "new_image_link" %>
</p>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
  </script>
<% end %>
